html,
body {
    height: 100%;
}

body {
    font-family: cursive;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header h1 {
    font-size: 35px;
    font-weight: 400;
    padding: 32px 0;
    margin: 0;
}

.header,
.controls,
.scroll {
    margin: 0 32px;
}

.scroll {
    overflow-x: auto;
}

.display {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    background-color: #f5f5f5;
    overflow: hidden;
    border-right: 1px solid #74bce3;
}

.display>.line {
    position: relative;
    border-top: 1px solid #74bce3;
}

.vertical-lines {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #74bce3;
}

.vertical-lines .line {
    position: absolute;
    border-left: 1px solid #74bce3;
    height: 100%;
    width: 0px;
}

#current-line {
    position: absolute;
    border-left: 1px solid #f64141;
    height: 100%;
    width: 0px;
    z-index: 3;
    left: 0;
    transition-property: left;
    transition-timing-function: linear;
    display: none;
}

.drag-note {
    background-color: #55e3ed;
    position: absolute;
    z-index: 2;
    cursor: move;
}

.note-position {
    position: absolute;
    height: 100%;
}

.note {
    background-color: #55e3ed;
    z-index: 1;
    cursor: move;
}

.resize-left,
.resize-right {
    position: absolute;
    width: 10px;
    height: 100%;
    z-index: 3;
    cursor: ew-resize;
}

.resize-left {
    left: 0;
}

.resize-right {
    right: 0;
}

.controls {
    height: 100px;
}

.shadow-note {
    background-color: #55e3ed80;
    pointer-events: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls-left,
.controls-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.controls-left button {
    background-color: transparent;
    border-radius: 0;
    outline: none;
    margin: 0;
    border: none;
}

.controls .input-range {
    min-width: 240px;
}

.controls .input-range input {
    vertical-align: middle;
}

.controls-right button {
    padding: 12px;
    font: inherit;
    background-color: transparent;
    outline: none;
    border: 2px solid #74bce3;
}

.instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.left-click {
    height: 2em;
}

.shift-key {
    height: 3em;
}