html,
body {
    height: 100%;
}

body {
    font-family: cursive;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header h1 {
    font-size: 35px;
    font-weight: 400;
    padding: 32px 0;
    margin: 0;
}

.header,
.controls,
.scroll {
    margin: 0 32px;
}

.scroll {
    overflow-x: auto;
}

.display {
    height: 100%;
    width: 2100px;
    position: relative;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    background-color: #f5f5f5;
    overflow: hidden;
}

.display>.line {
    position: relative;
    border-top: 1px solid #74bce3;
}

.vertical-lines {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    gap: 99px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #74bce3;
}

.vertical-lines .line {
    position: relative;
    border-left: 1px solid #74bce3;
    height: 100%;
    width: 1px;
}

.drag-note {
    background-color: #55e3ed;
    position: absolute;
    z-index: 2;
    cursor: move;
}

.note-position {
    position: absolute;
    height: 100%;
}

.note {
    background-color: #55e3ed;
    z-index: 1;
    cursor: move;
}

.resize-left, .resize-right {
    position: absolute;
    width: 10px;
    height: 100%;
    z-index: 3;
    cursor: ew-resize;
}

.resize-left {
    left: 0;
}

.resize-right {
    right: 0;
}

.controls {
    height: 100px;
}

.shadow-note {
    background-color: #55e3ed80;
    pointer-events: none;
}

.controls {
    display: flex;
    align-items: center;
    gap: 32px;
}

.volume-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.controls button {
    font: inherit;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    margin: 0;
    padding: 8px;
    border-color: #74bce3;
}

.instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.left-click {
    height: 2em;
}

.shift-key {
    height: 3em;
}